* {
  background-color: white;
}
.one {
  font-size: 4rem;
  width: 400px;
  font-family: "Quicksand", sans-serif;
  margin: auto;
  margin-top: 100px;
  color: #db942a;
}
img {
  margin-top: 50px;
}
