* {
  background-color: white;
}
.container {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
  align-items: center;
}
.one {
  font-size: 4rem;
  max-width: 400px;
  font-family: "Quicksand", sans-serif;

  margin-top: 40px;
  color: #25221c;
}
img {
  margin-top: 20px;
}
